@using MFaaP.MFWSClient

@{
    ViewBag.Title = "M-Files";
    Layout = "~/Views/Shared/_Navbar.cshtml";


}
@{  
    List<FolderContentItem> views = new List<FolderContentItem>();
    List<FolderListingColumn> Headers = new List<FolderListingColumn>();
    List<PropertyValue> propertyList = new List<PropertyValue>();
    List<PropertyDef> Properties = new List<PropertyDef>();
    Properties = ViewBag.PropertyList;
    List<ExtendedObjectClass> Classes = new List<ExtendedObjectClass>();
    Classes = ViewBag.classes;

    if (!object.ReferenceEquals(null, ViewBag.Views))
    {
        views = ViewBag.Views.Items;
        Headers = ViewBag.Views.FolderUIState.ListingUIState.Columns;

    }
    if(!object.ReferenceEquals(null, ViewBag.MetaData))
    {
        propertyList = ViewBag.MetaData;
    }

    var VID = ViewBag.VID;


}

<br />
<br />
<div></div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#Recent" role="tab" aria-controls="Recent" aria-selected="true">Recent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#All" role="tab" aria-controls="All" aria-selected="false">All </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Pinned" role="tab" aria-controls="Pinned" aria-selected="false">Pinned</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent" >
    <div class="tab-pane fade bodyh" id="Recent" role="tabpanel" aria-labelledby="Recent-tab">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-link" onclick="getData()">Link</button>
            </div>
            <div class="col-5" id="bindData1">
               
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>

    </div>
    <div class="tab-pane fade  show active bodyh" id="All" role="tabpanel" aria-labelledby="All-tab">
        <div class="row" >
            <div class="col border-right">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                @{
                                    foreach (var item in Headers)
                                    {
                                        var isVisible = item.Name == "Type" || item.Name == "Name" ? "visible" : "hidden";
                                        if (isVisible == "visible")
                                        {
                                            <th scope="col" style="visibility:@isVisible">@item.Name</th>
                                        }
                                    }
                                }

                                @*<th scope="col">Type</th>*@

                            </tr>
                        </thead>



                        <tbody>
                            @{
                                foreach (var item in views)
                                {
                                    if (!object.ReferenceEquals(null, item.View))
                                    {
                                        var url = "/Home/getViewItems?VID=" + item.View.ID;
                                        <tr>
                                            <td><img src="http://127.0.0.1/assets/icons/svg/listing_common_view.svg" /></td>

                                            <td><a href=@url>@item.View.Name</a></td>
                                            <td>View</td>
                                        </tr>
                                    }
                                    else if (!object.ReferenceEquals(null, item.PropertyFolder))
                                    {

                                        var url = "/Home/getSubViewItems?VID=" + VID + "&&LID=" + item.PropertyFolder.SerializedValue;
                                        <tr>
                                            <td><img src="http://127.0.0.1/assets/icons/svg/listing_common_view.svg" /></td>

                                            <td><a href=@url>@item.PropertyFolder.DisplayValue</a></td>
                                            <td>View</td>
                                        </tr>
                                    }
                                    else if (!object.ReferenceEquals(null, item.ObjectVersion))
                                    {

                                        var url = "/Home/getMetaData?type=" + item.ObjectVersion.ObjVer.Type + "&&ID=" + item.ObjectVersion.ObjVer.ID + "&&version=" + item.ObjectVersion.ObjVer.Version;
                                        <tr>
                                            <td><img src="http://127.0.0.1/assets/icons/svg/default.svg" /></td>

                                            @*<td><a href=@url>@item.ObjectVersion.Title</a></td>*@
                                            <td><button type="button" class="btn btn-link" onclick="getData('@url')">@item.ObjectVersion.Title</button></td>
                                            @*<td>View</td>*@
                                        </tr>
                                    }
                                }


                            }
                        </tbody>




                    </table>
                </div>
             
            </div>
            <div class="col-5 border-right ">

                <div class="table-wrapper-scroll-y my-custom-scrollbar" id="bindData">

                </div>

                @*<table class="table">
                    <thead>
                        <tr>
                            <th scope="col">MetaData</th>
                        </tr>
                    </thead>
                </table>

                <table class="table" >*@
                    
                    @*<tbody>
                        @{
                            if (Properties != null && Classes != null)
                            {
                                var Mclass = propertyList.Where(x => x.PropertyDef == 100).ToList<PropertyValue>()[0];
                                var cname = Mclass.TypedValue.DisplayValue;
                                //var objectClass = Classes.Where(x => x.ID == Mclass);

                            }
                            foreach (var item in propertyList)
                            {
                                var labelName = Properties.Where(x => x.ID == item.PropertyDef).ToList<PropertyDef>();
                                //var isVisible = Classes.Where(x=>x.)
                                <tr>
                                    <td>
                                        
                                         @labelName[0].Name
                                    </td>
                                    <td>
                                        @item.TypedValue.DisplayValue
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>*@



                


            </div>
            <div class="col">
               No Preview Loaded
            </div>
        </div>
    </div>
    <div class="tab-pane fade bodyh" id="Pinned" role="tabpanel" aria-labelledby="Pinned-tab">
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col-5">
                2 of 3 (wider)
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
    </div>
</div>



@*<ul id="myUL">
        <li>
            <span class="caret">Common View</span>
            <ul class="nested">
                <li>Water</li>
                <li>Coffee</li>

            </ul>
        </li>
        <li>
            <span class="caret">Other Views</span>
            <ul class="nested">
                <li>Sencha</li>
                <li>Gyokuro</li>
                <li>Matcha</li>
                <li>Pi Lo Chun</li>
            </ul>
        </li>
    </ul>*@